<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfago.weixin.persistence.dao.TaskEntityMapper">
	<resultMap id="BaseResultMap" type="TaskEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="recommend_record_id" property="recommendRecordId" jdbcType="INTEGER" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="handler" property="handler" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="SMALLINT" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="handled_time" property="handledTime" jdbcType="TIMESTAMP" />
		<result column="completed_time" property="completedTime" jdbcType="TIMESTAMP" />				
	</resultMap>
	
	<sql id="Base_Column_List">
		id, recommend_record_id, creater, handler, handled_time, completed_time, state, created_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from task_info
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectOneByModel" resultMap="BaseResultMap" parameterType="TaskEntity">
		select
		<include refid="Base_Column_List" />
		from task_info
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">
					and id = #{id,jdbcType=INTEGER}
				</if>
				<if test="recommendRecordId != null">
					and recommend_record_id = #{recommendRecordId,jdbcType=INTEGER}
				</if>				
				<if test="creater != null">
					and creater = #{creater,jdbcType=VARCHAR}
				</if>
				<if test="handler != null">
					and handler = #{handler,jdbcType=VARCHAR}
				</if>
				<if test="createdTime != null">
					and created_time = #{createdTime,jdbcType=TIMESTAMP}
				</if>
				<if test="handledTime != null">
					and handled_time = #{handledTime,jdbcType=TIMESTAMP}
				</if>
				<if test="completedTime != null">
					and completed_time = #{completedTime,jdbcType=TIMESTAMP}
				</if>
				<if test="state != null">
					and state = #{state,jdbcType=SMALLINT}
				</if>
			</trim>
		</where>
		limit 1
	</select>	

	<select id="selectAllByModel" resultMap="BaseResultMap" parameterType="TaskEntity">
		select
		<include refid="Base_Column_List" />
		from task_info
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">
					and id = #{id,jdbcType=INTEGER}
				</if>
				<if test="recommendRecordId != null">
					and recommend_record_id = #{recommendRecordId,jdbcType=INTEGER}
				</if>				
				<if test="creater != null">
					and creater = #{creater,jdbcType=VARCHAR}
				</if>
				<if test="handler != null">
					and handler = #{handler,jdbcType=VARCHAR}
				</if>
				<if test="createdTime != null">
					and created_time = #{createdTime,jdbcType=TIMESTAMP}
				</if>
				<if test="handledTime != null">
					and handled_time = #{handledTime,jdbcType=TIMESTAMP}
				</if>
				<if test="completedTime != null">
					and completed_time = #{completedTime,jdbcType=TIMESTAMP}
				</if>
				<if test="state != null">
					and state = #{state,jdbcType=SMALLINT}
				</if>
			</trim>
		</where>
	</select>		

	<select id="selectAll" resultMap="BaseResultMap" parameterType="TaskEntity">
		select
		<include refid="Base_Column_List" />
		from task_info
	</select>		
				
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		task_info
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="TaskEntity"
		useGeneratedKeys="true" keyProperty="id">
		insert into task_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="recommendRecordId != null">
				recommend_record_id,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="handler != null">
				handler,
			</if>
			<if test="handledTime != null">
				handled_time,
			</if>
			<if test="completedTime != null">
				completed_time,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="recommendRecordId != null">
				#{recommendRecordId,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="handler != null">
				#{handler,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="handledTime != null">
				#{handledTime,jdbcType=TIMESTAMP},
			</if>
			<if test="completedTime != null">
				#{completedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				#{state,jdbcType=SMALLINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="TaskEntity">
		update task_info
		<set>
			<trim  suffixOverrides=",">
				<if test="recommendRecordId != null">
					recommend_record_id = #{recommendRecordId,jdbcType=INTEGER},
				</if>
				<if test="creater != null">
					creater = #{creater,jdbcType=VARCHAR},
				</if>
				<if test="handler != null">
					handler = #{handler,jdbcType=VARCHAR},
				</if>
				<if test="createdTime != null">
					created_time = #{createdTime,jdbcType=TIMESTAMP},
				</if>
				<if test="handledTime != null">
					handled_time = #{handledTime,jdbcType=TIMESTAMP},
				</if>
				<if test="completedTime != null">
					completed_time = #{completedTime,jdbcType=TIMESTAMP},
				</if>
				<if test="state != null">
					state = #{state,jdbcType=SMALLINT},
				</if>
			</trim>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

<!--  
	<resultMap type="TaskEntity" id="UserCourseMap"
		extends="BaseResultMap">
		<collection property="courseInfos" javaType="list"
			ofType="TaskEntity">
			<id property="id" column="course_id" jdbcType="INTEGER" />
			<result property="cname" column="cname" jdbcType="VARCHAR" />
			<result property="caddress" column="caddress" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	<select id="selectAll" resultMap="UserCourseMap">
		select u.id, u.uname,
		u.unumber, c.id course_id, c.cname, c.caddress from task_info u left
		join course_task_info cu on u.id = cu.uid
		left join course_info c on
		cu.cid = c.id
	</select>
-->	
</mapper>