<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alfago.weixin.persistence.dao.UserGroupMapper">

	<resultMap id="BaseResultMap" type="UserGroup">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="keyword" property="keyword" jdbcType="VARCHAR" />
		<result column="decription" property="decription" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />		
		<result column="created_time`" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="location" property="location" jdbcType="INTEGER" />		
		<result column="groupType" property="groupType" jdbcType="INTEGER" />						
	</resultMap>
	<sql id="Base_Column_List">
		qq, id, name, keyword, decription, location, groupType, created_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_group
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectOneByModel" resultMap="BaseResultMap" parameterType="UserGroup">
		select
		<include refid="Base_Column_List" />
		from user_group
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">
					and id = #{id,jdbcType=INTEGER}
				</if>
				<if test="name != null">
					and name = #{name,jdbcType=VARCHAR}
				</if>				
				<if test="keyword != null">
					and keyword = #{keyword,jdbcType=VARCHAR}
				</if>
				<if test="decription != null">
					and decription = #{decription,jdbcType=VARCHAR}
				</if>
				<if test="qq != null">
					and qq = #{qq,jdbcType=VARCHAR}
				</if>				
				<if test="location != null">
					and location = #{location,jdbcType=INTEGER}
				</if>
				<if test="groupType != null">
					and groupType = #{groupType,jdbcType=INTEGER}
				</if>				
				<if test="createdTime != null">
					and created_time = #{createdTime,jdbcType=TIMESTAMP}
				</if>
			</trim>
		</where>
		limit 1
	</select>	

	<select id="selectAllByModel" resultMap="BaseResultMap" parameterType="UserGroup">
		select
		<include refid="Base_Column_List" />
		from user_group
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">
					and id = #{id,jdbcType=INTEGER}
				</if>
				<if test="name != null">
					and name = #{name,jdbcType=VARCHAR}
				</if>				
				<if test="keyword != null">
					and keyword = #{keyword,jdbcType=VARCHAR}
				</if>
				<if test="decription != null">
					and decription = #{decription,jdbcType=VARCHAR}
				</if>
				<if test="qq != null">
					and qq = #{qq,jdbcType=VARCHAR}
				</if>				
				<if test="location != null">
					and location = #{location,jdbcType=INTEGER}
				</if>
				<if test="groupType != null">
					and groupType = #{groupType,jdbcType=INTEGER}
				</if>				
				<if test="createdTime != null">
					and created_time = #{createdTime,jdbcType=TIMESTAMP}
				</if>
			</trim>
		</where>
	</select>		

	<select id="selectAll" resultMap="BaseResultMap" parameterType="UserGroup">
		select
		<include refid="Base_Column_List" />
		from user_group
	</select>		
				
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		user_group
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="UserGroup"
		useGeneratedKeys="true" keyProperty="id">
		insert into user_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="name != null">
					name,
				</if>				
				<if test="keyword != null">
					keyword,
				</if>
				<if test="decription != null">
					decription,
				</if>
				<if test="qq != null">
					qq,
				</if>				
				<if test="location != null">
					location,
				</if>
				<if test="groupType != null">
					groupType,
				</if>				
				<if test="createdTime != null">
					created_time,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="name != null">
					#{name,jdbcType=VARCHAR},
				</if>				
				<if test="keyword != null">
					#{keyword,jdbcType=VARCHAR},
				</if>
				<if test="decription != null">
					#{decription,jdbcType=VARCHAR},
				</if>
				<if test="qq != null">
					#{qq,jdbcType=VARCHAR},
				</if>				
				<if test="location != null">
					#{location,jdbcType=INTEGER},
				</if>
				<if test="groupType != null">
					#{groupType,jdbcType=INTEGER},
				</if>				
				<if test="createdTime != null">
					#{createdTime,jdbcType=TIMESTAMP},
				</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="UserGroup">
		update user_group
		<set>
			<trim suffixOverrides=",">
				<if test="name != null">
					name = #{name,jdbcType=VARCHAR},
				</if>				
				<if test="keyword != null">
					keyword = #{keyword,jdbcType=VARCHAR},
				</if>
				<if test="decription != null">
					decription = #{decription,jdbcType=VARCHAR},
				</if>
				<if test="qq != null">
					qq = #{qq,jdbcType=VARCHAR},
				</if>				
				<if test="location != null">
					location = #{location,jdbcType=INTEGER},
				</if>
				<if test="groupType != null">
					groupType = #{groupType,jdbcType=INTEGER},
				</if>				
				<if test="createdTime != null">
					created_time = #{createdTime,jdbcType=TIMESTAMP},
				</if>
			</trim>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	

	<!--  
	<resultMap type="UserGroup" id="UserCourseMap"
		extends="BaseResultMap">
		<collection property="courseInfos" javaType="list" ofType="UserGroup">
			<id property="id" column="course_id" jdbcType="INTEGER" />
			<result property="cname" column="cname" jdbcType="VARCHAR" />
			<result property="caddress" column="caddress" jdbcType="VARCHAR" />
		</collection>


	</resultMap>
	<select id="selectAll" resultMap="UserCourseMap">
		select u.id, u.uname,
		u.unumber, c.id course_id, c.cname, c.caddress from user_group u left
		join course_user_group cu on u.id = cu.uid
		left join course_info c on
		cu.cid = c.id
	</select>
	-->
</mapper>