<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">  

	<!--引入配置属性文件 -->
	<context:property-placeholder location="classpath:config/*.properties" />
	
	<aop:aspectj-autoproxy />
	
    <import resource="classpath:mybatis/applicationContext-mybatis.xml" />
    <import resource="classpath:mongo/applicationContext-mongo.xml" />
    <import resource="classpath:quartz/applicationContext-quartz.xml" />
    <import resource="classpath:rabbitmq/applicationContext-rabbitmq-consumer.xml" />
    <import resource="classpath:rabbitmq/applicationContext-rabbitmq-producer.xml" />
	<!--自动扫描含有@Service将其注入为bean --><!-- <context:component-scan>  <context:annotation-config />两者区别 -->
	<context:component-scan base-package="com.alfago.weixin" />

	
	<!--配置Freemarker -->
	<bean id="freemarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="classpath:/ftl/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">10</prop>
				<prop key="defaultEncoding">UTF-8</prop>
			</props>
		</property>
	</bean>
	<!--配置Freemarker -->   
	
	<!-- java mail -->
	<bean id = "mailSSLSocketFactory" class="com.sun.mail.util.MailSSLSocketFactory">
	    <property name="trustAllHosts" value="true" />
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.qq.com" />
		<property name="port" value="465" />
		<property name="username" value="601838594@qq.com" />
		<property name="password" value="egdyldlymzolbddh" />
		<property name="javaMailProperties">
			<props>
				<!-- Use SMTP transport protocol -->
				<prop key="mail.transport.protocol">smtp</prop>
				<!-- Use SMTP-AUTH to authenticate to SMTP server -->
				<prop key="mail.smtp.auth">true</prop>
				<!-- <prop key="mail.smtp.localhost">zqu.edu.cn</prop> -->
				<!-- Use TLS to encrypt communication with SMTP server -->
				<!--  <prop key="mail.smtp.starttls.enable">true</prop>-->
				<prop key="mail.smtp.ssl.enable">true</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
</beans>